USE [master]
GO
/****** Object:  Database [Hungnguyentourist]    Script Date: 3/17/2019 8:01:33 PM ******/
CREATE DATABASE [Hungnguyentourist]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Hungnguyentourist', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Hungnguyentourist.mdf' , SIZE = 6144KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Hungnguyentourist_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\Hungnguyentourist_log.ldf' , SIZE = 7616KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Hungnguyentourist].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Hungnguyentourist]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 3/17/2019 8:01:33 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Account](
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[FullName] [nvarchar](100) NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](15) NULL,
	[Gender] [nvarchar](3) NULL,
	[Birthdate] [datetime] NULL,
	[Address] [nvarchar](256) NULL,
	[Title] [nvarchar](256) NULL,
	[Agency] [nvarchar](256) NULL,
	[Admin] [tinyint] NULL,
	[Created] [datetime] NOT NULL,
	[LastUpdate] [datetime] NOT NULL,
 CONSTRAINT [PK_Account] PRIMARY KEY CLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Article]    Script Date: 3/17/2019 8:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Article](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](256) NULL,
	[CoverPhoto] [nvarchar](256) NOT NULL,
	[Views] [int] NULL,
	[Article] [nvarchar](max) NULL,
	[Uploaded] [datetime] NOT NULL,
	[LastUpdate] [datetime] NOT NULL,
 CONSTRAINT [PK_Article] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Booking]    Script Date: 3/17/2019 8:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Booking](
	[ID] [int] NOT NULL,
	[TourCode] [nvarchar](20) NOT NULL,
	[Username] [varchar](50) NULL,
	[AdultNumber] [int] NOT NULL,
	[ChildNumber] [int] NOT NULL,
	[BabyNumber] [int] NOT NULL,
	[PaymentMethod] [nvarchar](50) NOT NULL,
	[ContactName] [nvarchar](100) NOT NULL,
	[ContactPhone] [nvarchar](50) NOT NULL,
	[ContactEmail] [nvarchar](100) NOT NULL,
	[ContactAddress] [nvarchar](300) NOT NULL,
	[Status] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Booking] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 3/17/2019 8:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Contact](
	[ID] [int] NOT NULL,
	[Name] [nvarchar](50) NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](500) NULL,
	[Message] [nvarchar](max) NOT NULL,
	[SentTime] [datetime] NOT NULL,
	[Processed] [tinyint] NOT NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Location]    Script Date: 3/17/2019 8:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[Location] [nvarchar](20) NOT NULL,
	[ForeignLocation] [tinyint] NOT NULL,
	[Region] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Location] PRIMARY KEY CLUSTERED 
(
	[Location] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LocationsOfArticles]    Script Date: 3/17/2019 8:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationsOfArticles](
	[ArticleID] [int] NOT NULL,
	[Location] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_LocationsOfArticles] PRIMARY KEY CLUSTERED 
(
	[ArticleID] ASC,
	[Location] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[LocationsOfTourArticles]    Script Date: 3/17/2019 8:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LocationsOfTourArticles](
	[TourArticleID] [int] NOT NULL,
	[Location] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_LocationsOfTourArticles] PRIMARY KEY CLUSTERED 
(
	[TourArticleID] ASC,
	[Location] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tour]    Script Date: 3/17/2019 8:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[Code] [nvarchar](20) NOT NULL,
	[StartDate] [datetime] NOT NULL,
	[Price] [int] NOT NULL,
	[PriceForChildren] [int] NOT NULL,
	[PriceForBaby] [int] NOT NULL,
	[Discount] [int] NULL,
	[TotalSeats] [int] NOT NULL,
	[SeatsBooked] [int] NULL,
	[TourArticleID] [int] NOT NULL,
 CONSTRAINT [PK_Tour] PRIMARY KEY CLUSTERED 
(
	[Code] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TourArticle]    Script Date: 3/17/2019 8:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TourArticle](
	[ID] [int] NOT NULL,
	[Title] [nvarchar](256) NOT NULL,
	[CoverPhoto] [nvarchar](256) NOT NULL,
	[Duration] [nvarchar](100) NOT NULL,
	[Transport] [nvarchar](100) NOT NULL,
	[Departure] [nvarchar](100) NOT NULL,
	[Destination] [nvarchar](100) NOT NULL,
	[Views] [int] NOT NULL,
	[Article] [nvarchar](max) NOT NULL,
	[Uploaded] [datetime] NOT NULL,
	[LastUpdate] [datetime] NOT NULL,
 CONSTRAINT [PK_TourArticle] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Tourist]    Script Date: 3/17/2019 8:01:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tourist](
	[BookingID] [int] NOT NULL,
	[TouristID] [int] NOT NULL,
	[Name] [nvarchar](100) NULL,
	[Phone] [nvarchar](50) NULL,
	[Address] [nvarchar](300) NULL,
	[Gender] [nvarchar](50) NULL,
	[Country] [nvarchar](50) NULL,
	[Passport] [nvarchar](50) NULL,
 CONSTRAINT [PK_Tourist] PRIMARY KEY CLUSTERED 
(
	[BookingID] ASC,
	[TouristID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Account] ([Username], [Password], [FullName], [Email], [Phone], [Gender], [Birthdate], [Address], [Title], [Agency], [Admin], [Created], [LastUpdate]) VALUES (N'anothernewaccount', N'12345678', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, CAST(N'2019-03-04 13:02:53.153' AS DateTime), CAST(N'2019-03-04 13:02:53.153' AS DateTime))
INSERT [dbo].[Account] ([Username], [Password], [FullName], [Email], [Phone], [Gender], [Birthdate], [Address], [Title], [Agency], [Admin], [Created], [LastUpdate]) VALUES (N'den.vau', N'12345678', N'Nguyễn Đức Cường', N'den.vau@gmail.com', N'0987654321', N'Nam', CAST(N'2019-02-19 00:00:00.000' AS DateTime), NULL, NULL, NULL, 0, CAST(N'2019-02-17 19:20:53.703' AS DateTime), CAST(N'2019-02-17 19:20:53.703' AS DateTime))
INSERT [dbo].[Account] ([Username], [Password], [FullName], [Email], [Phone], [Gender], [Birthdate], [Address], [Title], [Agency], [Admin], [Created], [LastUpdate]) VALUES (N'hulk', N'123', N'Hưng Nguyễn', NULL, N'0847641376', NULL, CAST(N'1999-08-30 00:00:00.000' AS DateTime), N'Đại học FPT, Công viên phần mềm Quang Trung, phường Tân Chánh Hiệp, quận 12, TP. HCM', N'Sinh viên', N'Đại học FPT', 1, CAST(N'2019-02-17 00:00:00.000' AS DateTime), CAST(N'2019-03-17 18:31:53.307' AS DateTime))
INSERT [dbo].[Booking] ([ID], [TourCode], [Username], [AdultNumber], [ChildNumber], [BabyNumber], [PaymentMethod], [ContactName], [ContactPhone], [ContactEmail], [ContactAddress], [Status]) VALUES (1, N'HNT-100319-001', N'nhacovaicontho', 1, 0, 2, N'Chuyển khoản', N'Trần Đà Lạt', N'0987654321', N'dalas@gmail.com', N'Tân Chánh Hiệp, q 12', N'Đã thanh toán')
INSERT [dbo].[Booking] ([ID], [TourCode], [Username], [AdultNumber], [ChildNumber], [BabyNumber], [PaymentMethod], [ContactName], [ContactPhone], [ContactEmail], [ContactAddress], [Status]) VALUES (2, N'HNT-170319-001', N'nhacovaicontho', 1, 4, 0, N'Tiền mặt', N'Trần Đà Lạt', N'0987654321', N'a@gmail.com', N'Tân Chánh Hiệp, q 12', N'Chưa thanh toán')
INSERT [dbo].[Booking] ([ID], [TourCode], [Username], [AdultNumber], [ChildNumber], [BabyNumber], [PaymentMethod], [ContactName], [ContactPhone], [ContactEmail], [ContactAddress], [Status]) VALUES (3, N'HNT-280419-002', N'hulk', 2, 0, 0, N'Chuyển khoản', N'Nguyễn Phú Hưng', N'0987654321', N'hn@gmail.com', N'Đại học FPT, Quang Trung, p. Tân Chánh hiệp, q. 12, TP. HCM', N'Chưa thanh toán')
INSERT [dbo].[Contact] ([ID], [Name], [Email], [Phone], [Address], [Message], [SentTime], [Processed]) VALUES (2, N'Nguyễn Đức Cường', N'den.vau@gmail.com', NULL, NULL, N'Nội dung liên hệ 2 Nội dung liên hệ 2 Nội dung liên hệ 2 Nội dung liên hệ 2 Nội dung liên hệ 2 Nội dung liên hệ 2 Nội dung liên hệ 2 Nội dung liên hệ 2 Nội dung liên hệ 2 Nội dung liên hệ 2 ', CAST(N'2019-03-05 17:52:10.600' AS DateTime), 1)
INSERT [dbo].[Contact] ([ID], [Name], [Email], [Phone], [Address], [Message], [SentTime], [Processed]) VALUES (3, NULL, N'abc@gmail.com', NULL, NULL, N'Nội dung liên hệ 3', CAST(N'2019-03-05 17:54:55.427' AS DateTime), 0)
INSERT [dbo].[Location] ([Location], [ForeignLocation], [Region]) VALUES (N'An Giang', 0, N'Miền Nam')
INSERT [dbo].[Location] ([Location], [ForeignLocation], [Region]) VALUES (N'Anh', 1, N'Châu Âu')
INSERT [dbo].[Location] ([Location], [ForeignLocation], [Region]) VALUES (N'Argentina', 1, N'Châu Mỹ')
INSERT [dbo].[LocationsOfArticles] ([ArticleID], [Location]) VALUES (1, N'Đà Lạt')
INSERT [dbo].[LocationsOfArticles] ([ArticleID], [Location]) VALUES (1, N'Đà Nẵng')
INSERT [dbo].[LocationsOfArticles] ([ArticleID], [Location]) VALUES (1, N'Điện Biên')
INSERT [dbo].[LocationsOfTourArticles] ([TourArticleID], [Location]) VALUES (1, N'Đà Lạt')
INSERT [dbo].[LocationsOfTourArticles] ([TourArticleID], [Location]) VALUES (2, N'Hạ Long')
INSERT [dbo].[LocationsOfTourArticles] ([TourArticleID], [Location]) VALUES (2, N'Hà Nội')
INSERT [dbo].[Tour] ([Code], [StartDate], [Price], [PriceForChildren], [PriceForBaby], [Discount], [TotalSeats], [SeatsBooked], [TourArticleID]) VALUES (N'HNT-060319-001', CAST(N'2019-03-06 00:00:00.000' AS DateTime), 8629000, 5890000, 3150000, 0, 46, 0, 5)
INSERT [dbo].[Tour] ([Code], [StartDate], [Price], [PriceForChildren], [PriceForBaby], [Discount], [TotalSeats], [SeatsBooked], [TourArticleID]) VALUES (N'HNT-090319-001', CAST(N'2019-03-09 00:00:00.000' AS DateTime), 3679000, 1840000, 0, 0, 46, 0, 9)
INSERT [dbo].[Tour] ([Code], [StartDate], [Price], [PriceForChildren], [PriceForBaby], [Discount], [TotalSeats], [SeatsBooked], [TourArticleID]) VALUES (N'HNT-100319-001', CAST(N'2019-03-10 00:00:00.000' AS DateTime), 3179000, 1590000, 0, 0, 46, 3, 1)
INSERT [dbo].[Tourist] ([BookingID], [TouristID], [Name], [Phone], [Address], [Gender], [Country], [Passport]) VALUES (1, 1, N'Trần Đà Lạt', N'0987654321', N'Tân Chánh Hiệp, q 12', N'Nam', N'Việt Nam', N'')
INSERT [dbo].[Tourist] ([BookingID], [TouristID], [Name], [Phone], [Address], [Gender], [Country], [Passport]) VALUES (1, 2, N'Khách 2', N'', N'Đại học FPT, Công viên phần mềm Quang Trung, Tô Ký, p. Tân Chánh Hiệp, q. 12, TP. HCM', N'Nam', N'Việt Nam', N'')
INSERT [dbo].[Tourist] ([BookingID], [TouristID], [Name], [Phone], [Address], [Gender], [Country], [Passport]) VALUES (1, 3, N'Khách 3', N'', N'Đại học FPT, Công viên phần mềm Quang Trung, Tô Ký, p. Tân Chánh Hiệp, q. 12, TP. HCM', NULL, N'', N'5464342432523454')
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Account] FOREIGN KEY([Username])
REFERENCES [dbo].[Account] ([Username])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Account]
GO
ALTER TABLE [dbo].[Booking]  WITH CHECK ADD  CONSTRAINT [FK_Booking_Tour] FOREIGN KEY([TourCode])
REFERENCES [dbo].[Tour] ([Code])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Booking] CHECK CONSTRAINT [FK_Booking_Tour]
GO
ALTER TABLE [dbo].[LocationsOfArticles]  WITH CHECK ADD  CONSTRAINT [FK_LocationsOfArticles_Article] FOREIGN KEY([ArticleID])
REFERENCES [dbo].[Article] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LocationsOfArticles] CHECK CONSTRAINT [FK_LocationsOfArticles_Article]
GO
ALTER TABLE [dbo].[LocationsOfArticles]  WITH CHECK ADD  CONSTRAINT [FK_LocationsOfArticles_Location] FOREIGN KEY([Location])
REFERENCES [dbo].[Location] ([Location])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LocationsOfArticles] CHECK CONSTRAINT [FK_LocationsOfArticles_Location]
GO
ALTER TABLE [dbo].[LocationsOfTourArticles]  WITH CHECK ADD  CONSTRAINT [FK_LocationsOfTourArticles_Location] FOREIGN KEY([Location])
REFERENCES [dbo].[Location] ([Location])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LocationsOfTourArticles] CHECK CONSTRAINT [FK_LocationsOfTourArticles_Location]
GO
ALTER TABLE [dbo].[LocationsOfTourArticles]  WITH CHECK ADD  CONSTRAINT [FK_LocationsOfTourArticles_TourArticle] FOREIGN KEY([TourArticleID])
REFERENCES [dbo].[TourArticle] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[LocationsOfTourArticles] CHECK CONSTRAINT [FK_LocationsOfTourArticles_TourArticle]
GO
ALTER TABLE [dbo].[Tour]  WITH CHECK ADD  CONSTRAINT [FK_Tour_TourArticle] FOREIGN KEY([TourArticleID])
REFERENCES [dbo].[TourArticle] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tour] CHECK CONSTRAINT [FK_Tour_TourArticle]
GO
ALTER TABLE [dbo].[Tourist]  WITH CHECK ADD  CONSTRAINT [FK_Tourist_Booking] FOREIGN KEY([BookingID])
REFERENCES [dbo].[Booking] ([ID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Tourist] CHECK CONSTRAINT [FK_Tourist_Booking]
GO
USE [master]
GO
