table{
	margin-top: 20px;
	border-collapse: collapse;
	text-align: center;
}

th, td{
	border: 1px solid rgb(100, 100, 100);
	padding: 4px;
	color: rgb(80, 80, 80);
}

th{
	color: white;
	background-color: rgb(255, 137, 30);
}

td:first-of-type{
	font-size: 15px;
	font-weight: bold;
	width: 120px;
}

td:nth-of-type(2){
	font-size: 14px;
	font-weight: bold;
	width: 160px;
	
}

td:nth-of-type(3){
	width: 150px;
}

td:nth-of-type(4){
	width: 130px;
}

td:nth-of-type(5){
	font-size: 15px;
	font-weight: bold;
	color: rgb(255, 137, 30);
	width: 170px;
}

td:nth-of-type(6){
	color: white;
	width: 180px;
}

td a{
	color: rgb(0, 97, 255);
}