#steps-container{
    margin: 30px 0px;
    overflow: hidden;
}

.step{
    font-weight: bold;
    font-size: 14px;
    float: left;
    width: 165px;
    padding: 10px;
    margin-right: 100px;
    text-align: center;
}

.step:first-of-type{
    margin-left: 140px;
}

.step-number{
    font-size: 20px;
}

#current-step{
    border: 2px solid rgb(255, 137, 30);
    border-radius: 10px;
}

/*===============================================*/

#main-content{
    width: 55%;
    margin: 30px 4% 0 6%;
    display: inline-block;
}

.info-group-title{
    margin: 20px 0px;
    font-size: 24px;
    font-weight: bold;
    color: rgb(38, 42, 46);
}

.info-group-title:first-of-type{
    margin-top: 0px;
}

input[type=number]{
    width: 300px;
    padding: 10px;
    margin: 10px 0px 20px 0px;
    border: none;
    outline: none;
    font-size: 18px;
    background-color: rgb(220, 220, 220);
}

.payment-method-container{
    padding: 20px;
    margin: 20px 0px;
    border: 1px solid rgb(200, 200, 200);
    color: rgb(38, 42, 46);
    background-color: rgb(243, 237, 237);
}

.payment-method-name{
    font-size: 20px;
    margin-bottom: 10px;
}

.checked-icon{
    color: white;
    font-size: 30px;
    display: none;
}

input[name=cbxAgree]{
    margin: 20px 0px 10px 0px;
}

#terms{
    padding: 10px;
    height: 200px;
    border: 1px solid rgb(200, 200, 200);
    color: rgb(80, 80, 80);
    font-size: 14px;
    overflow: auto;
}

#page-navigation-container{
    margin: 50px 0px;
    overflow: hidden;
}

#page-navigation-left, #page-navigation-right{
    padding: 10px;
    width: 130px;
	font-size: 16px;
	border: none;
    text-align: center;
    color: white;
    background-color: rgb(255, 137, 30);
	cursor: pointer;
}

#page-navigation-left{
    float: left;
}

#page-navigation-right{
    float: right;
}

/*===============================================*/

#right-sidebar{
    width: 29%;
    float: right;
    margin: 30px 6% 0 0;
    color: rgb(60, 60, 60);
}

#tour-container{
    border: 1px solid rgb(200, 200, 200);
    box-shadow: 3px 3px 3px rgb(200, 200, 200);
    background-color: rgb(246, 246, 246);
}

#tour-image-container{
    width: 100%;
    height: 250px;
    position: relative;
    overflow: hidden;
}

#tour-image-container img{
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

#tour-title{
    font-size: 17px;
    margin: 25px 20px;
    color: rgb(0, 51, 102);
}

.tour-info{
    font-size: 15px;
    margin: 14px 20px;
}

.tour-info-content{
    font-weight: bold;
}

#sum-cost{
    margin: 25px 20px;
    font-size: 28px;
}

#cost-number{
    font-weight: bold;
    color: rgb(255, 137, 30);
}

#transaction-support{
    padding: 10px 0px;
    margin: 30px 0px;
    text-align: center;
    font-size: 20px;
    color: white;
    background-color: rgb(255, 137, 30);
}

#support-number{
    font-weight: bold;
}